*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    margin: 35px 0;
}
h3 button{
    color: #5E00A3;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.startPage button{
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5E00A3;
    border-radius: 10px;
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 170px;
    cursor: pointer;
}
.startPage button:hover{
    box-shadow: 10px 5px 5px #eeeeee;
    background-color: #DA7DEC; 
}
.startPage {
    display:flexbox;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
