.c-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

button{
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5E00A3;
    border-radius: 10px;
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 170px;
};

button:hover{
    box-shadow: 10px 5px 5px #eeeeee;
};

#viewHighScore{
    color: #E37BE9;
    position: relative;


};

#timer{
    float: right;

};

#startPage{
    display: flex;
    flex-direction: column;
    align-items: center;
};
